@model OrderhistoryVM
@*@foreach (var item in Model.Historik.GroupBy(o => o.OrderId).Select(o => o).ToArray())
{
    <li>Artikel: @item.ArtikelNamn Antal: @item.Antal Pris: @Model.getPriceFormatted(item.Pris)</li>
   
    
}*@