@using HoldYourHorses.Views.Accounts
@model UserpageVM
<div style="min-height: 400px">
<h3>User Page</h3>
Välkommen tillbaka @Model.Username

<a asp-controller="Accounts" asp-action="Logout">Logga ut</a>
<a asp-controller="Accounts" asp-action="Orderhistory">Orderhistorik</a>
</div>