
<div class="footer">
	<b>HållDinKäpp</b>
	<p><a href="">Om oss</a></p>
	<p><a href="">Lediga tjänster</a></p>
	<p><a href="">FAQ</a></p>

	<b>Sociala medier</b>
	<p><ion-icon name="logo-facebook" size="large"></ion-icon></p>
	<p><ion-icon name="logo-instagram" size="large"></ion-icon></p>
	<p><ion-icon name="logo-youtube" size="large"></ion-icon></p>
	<p><ion-icon name="logo-twitter" size="large"></ion-icon></p>

	<b>Certifieringar</b>
	<p>Trygg e-handel</p>
	<p>osv...</p>

	<p>&copy; 2022 HållDinKäpp AB. Alla rättigheter reserverade.</p>
</div>