
<div class="footer">
	<b>HållDinKäpp</b>
	<p><a href="">Om oss</a></p>
	<p><a href="">Lediga tjänster</a></p>
	<p><a href="">FAQ</a></p>

	<b>Sociala medier</b>
	<p><ion-icon name="logo-facebook" size="large"></ion-icon></p>
	<p><ion-icon name="logo-instagram" size="large"></ion-icon></p>
	<p><ion-icon name="logo-youtube" size="large"></ion-icon></p>
	<p><ion-icon name="logo-twitter" size="large"></ion-icon></p>

	<b>Certifieringar</b>
	<p><img src="https://tryggehandel.dhandel.se/wp-content/uploads/2020/02/teh-badge.svg" height="50" width="50" alt="trygg e-handel"></p>
	<p><img src="https://www.martin-bencher.com/wp-content/uploads/2020/10/131020_news_Martin-Bencher.jpg" height="50" width="50" alt="highest creditworthinest"</p>
	<p><img src="https://tradkramaren.files.wordpress.com/2011/01/bild-1.png?w=584" height="50" width="50" alt="miljömärkning"</p>
	<p><img src="https://cdn.naturskyddsforeningen.se/uploads/2021/06/17110448/27760_c52e00a6c1ffda9.jpg" height="60" width="60" alt="bra miljöval"</p>

	<p>&copy; 2022 HållDinKäpp AB. Alla rättigheter reserverade.</p>
</div>