
<div class="footer">
	<b>HållDinKäpp</b>
	<p><a href="">Om oss</a></p>
	<p><a href="">Lediga tjänster</a></p>
	<p><a href="">FAQ</a></p>

	<b>Sociala medier</b>
	<p>Facebook</p>
	<p>Instagram</p>
	<p>YouTube</p>
	<p>Twitter</p>

	<b>Certifieringar</b>
	<p>Trygg e-handel</p>
	<p>osv...</p>

	<p>&copy; 2022 HållDinKäpp AB. Alla rättigheter reserverade.</p>
</div>