@model HoldYourHorses.Views.Shared.IndexPartialVM[]        

@foreach (var card in Model)
        {
            <a href="Product/@card.ArtikelNr">
          <div class="article-card">
            <img
              src="https://www.hooks.se/pub_images/original/940005-11_1.jpg?extend=copy&width=1024&method=fit&height=1024&type=webp&timestamp=1634910071"
              alt="@card.Namn"
            />
            <p class="name">@card.Namn</p>
            <div class="arrow-div">
              <div class="price"><span class="price-span"> @card.getPriceFormatted() kr</span></div>
              <div class="arrow-right"></div>
            </div>
          </div>
          </a>
        }