<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("CSS", false)
    @RenderSection("JS", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        &copy; 2022 HållDinKäpp AB. Alla rättigheter reserverade.
    </footer>
</body>
</html>
