@*TO DO: lägg index-länk på hästen*@

<a asp-controller="Sticks" asp-action="Index">@Html.Partial("_Logo")</a>



<input type="text" placeholder="Sök" name="search">
<button type="submit"><ion-icon name="search-outline"></ion-icon></button>   
