    <div class="super-container">
      <div class="filter"></div>
      <div class="main-div">
        <h1 id="Norden">Nordens största butik för käpphästar</h1>
        <div class="card-container">
          <div class="article-card">
            <img
              src="https://www.hooks.se/pub_images/original/940005-11_1.jpg?extend=copy&width=1024&method=fit&height=1024&type=webp&timestamp=1634910071"
              alt="Hobby Horse"
            />
            <p class="name">Cloudberry Castle Käpphäst</p>
            <div class="arrow-div">
              <div class="price"><span class="price-span"> 1 299 kr</span></div>
              <div class="arrow-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>