@section CSS{
     <link rel="stylesheet" href="~/CSS/Index.css">
}
@section JS{
     <script src="~/JS/index.js" defer></script>
}
    <div class="super-container">
      <div class="filter">
          <div class="slider-super-container">
               <p class="p-filter">Pris</p>
          <div class="range_container">
             
    <div class="sliders_control">
       <input id="fromSlider" type="range" value="10" min="0" max="100"/>
       <input id="toSlider" type="range" value="30" min="0" max="100"/>
    </div>
      <div id="min-int" class="form_control_container">
          <div   class="form_control_container__time">Min</div>
          <input class="form_control_container__time__input" type="number" id="fromInput" value="10" min="0" max="100"/>
        </div>
        <div  id="max-int" class="form_control_container">
          <div class="form_control_container__time">Max</div>
          <input class="form_control_container__time__input" type="number" id="toInput" value="30" min="0" max="100"/>
        </div>
    </div>
    </div>
</div>
      <div class="main-div">
        <h1 id="Norden">Nordens största butik för käpphästar</h1>
        <div class="card-container">
        @for (var i = 0; i < 4; i++)
        {
           
          <div class="article-card">
            <img
              src="https://www.hooks.se/pub_images/original/940005-11_1.jpg?extend=copy&width=1024&method=fit&height=1024&type=webp&timestamp=1634910071"
              alt="Hobby Horse"
            />
            <p class="name">Cloudberry Castle Käpphäst</p>
            <div class="arrow-div">
              <div class="price"><span class="price-span"> 1 299 kr</span></div>
              <div class="arrow-right"></div>
            </div>
          </div>
        }
            </div> 
      </div>
    </div>