.super-container{
    margin:15px;
}

    .grid-container
{
        margin-top:20px;
    width: 300px;
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto;
    background-color: rgb(255,255,255);
    padding: 1px;
}

.grid-item {
    width: 300px;
    background-color: rgb(255,255,255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 15px;
    text-align: center;
}

.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.first-half, .second-half {
    display: flex;
}

.name-price{
    margin-left: 15px;
}

.name-price > * {
    margin-bottom: 15px;
    margin-top: 0px;
}

.name-price input{
    display:block;
    width: 150px;
    box-sizing:border-box;
}

#image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 2px solid var(--navbar-logos);
    border-radius: 5px;
}



