.login-body{
    margin-left:20px;
    min-height:240px;
}
.login-body h1{
    margin:10px 0;
}
.login-label{
    font-size:20px;
    width:120px;
    display:inline-block;
    margin-right:20px;
}
.info-div{
    margin-bottom:5px;
}
.login-body input[type=text], .login-body input[type=password] {
    padding:5px;
    font-size:20px;
}